/**** Color Scheme from colorschemedesigner.com *****/
body {
	color: crimson; 
	background-color: rgb(240,248,255);
	font-family: Calibri;
	font-size: 18px;
	font-weight: lighter;
}

h1, h2 {
	padding: 0.3%;
	color: hsl(208,100%,97.1%);
	background-color: rgba(86.3%, 7.8%, 23.5%, 0.6);
	font-family: 'Sigmar One', cursive;
	text-shadow: 2px 2px 4px #000;
}

ul {
	color: black;
	background-color: #B1E114;
	font-style: normal;
}

nav, a{
	text-decoration: none;
	text-transform: uppercase;
	line-height: 24px;
	letter-spacing: 2px;
	text-align: center;
}

#nav a:link{
	color: #05654A;
	list-style: none;
}

#nav a:visited{
	color: #729207;
}

#nav a:hover{
	color: #000;
}

#nav a:active{
	font-weight: bold;
	color: #8F0621;
}